<%= turbo_frame_tag position do %>
  <div class='mt-2 d-flex gap-2'>
    <div>
      <%= position.name %>
    </div>

    <div>
      <%= position.description %>
    </div>

    <div>
      <%= position.quantity %> *
    </div>

    <div>
      <%= position.unit_price %>
    </div>

    <%= link_to 'Edit', edit_product_term_position_path(@product, (@term.present? ? @term : term), position) %>
    <%= link_to 'Delete', [@product, (@term.present? ? @term : term), position], data: {turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
  </div>
<% end %>