<%= turbo_frame_tag term do %> 
  <div class='card my-1'>
    <div class='mt-2 d-flex gap-2'>
      <%= l(term.date, format: :long) %>
      <%= link_to 'Delete', [@product, term], data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      <%= link_to 'Edit', [:edit, @product, term], class: 'btn btn-secondary' %>
      <%= link_to 'Add position', [:new, @product, term, :position], data: { turbo_frame: '_top' }, class: 'btn btn-primary' %>
    </div>

    <div>
      <%= render term.positions, product: @product, term: term %>
    </div>
  </div>
<% end %>